{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>AGRISWAP</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="{% static 'Main/assets/img/icon.png' %}" rel="icon">
  <link href="{% static 'Main/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Marcellus:wght@400&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'Main/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'Main/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'Main/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'Main/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'Main/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'Main/assets/css/main.css' %}" rel="stylesheet">
  <style>

    .sitename {
      font-size: 21px; /* Adjust size as needed */
      color: #4CAF50; /* Adjust color as per theme */
  }
  

  </style>
  <!-- =======================================================
  * Template Name: AgriCulture
  * Template URL: https://bootstrapmade.com/agriculture-bootstrap-website-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center position-relative">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="{% url 'Guest:index' %}" class="logo d-flex align-items-center">
        <span class="sitename">AgriSwap</span>
      </a>
    

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url 'Customer:dashboard' %}" class="active">HOME</a></li>
          <li><a href="{% url 'Customer:myprofile' %}">PROFILE</a></li>
          <li><a href="{% url 'Customer:Viewproduct' %}">PRODUCTS</a></li>
          <li><a href="{% url 'Customer:Mycart' %}">CART</a></li>
          <li><a href="{% url 'Customer:mybooking' %}">MY BOOKING</a></li>
          <li class="dropdown"><a href="#"><span>COMPLAINT</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
                <li><a href="{% url 'Customer:complaint' %}">ADD COMPLAINT</a></li>
                <li><a href="{% url 'Customer:mycomplaints' %}">MY COMPLAINTS</a></li>
              <!-- <li><a href="#">Dropdown 4</a></li> -->
            </ul>
          </li>
          
          
          <li><a href="{% url 'Customer:logout' %}">LOGOUT</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <div class="carousel-item active">
          <img src="{% static 'Main/assets/img/hero_1.jpg' %}" alt="">
          <div class="carousel-container">
            <h2>Empowering Farmers</h2>
            <p>Provide a direct platform for farmers to showcase and sell their produce without intermediaries.</p>
          </div>
        </div><!-- End Carousel Item -->

        <div class="carousel-item">
          <img src="{% static 'Main/assets/img/hero_2.jpg' %}" alt="">
          <div class="carousel-container">
            <h2>Connecting Customers</h2>
            <p>Enable consumers to buy fresh, locally sourced agricultural products directly from farmers.</p>
          </div>
        </div><!-- End Carousel Item -->

        <div class="carousel-item">
          <img src="{% static 'Main/assets/img/hero_3.jpg' %}" alt="">
          <div class="carousel-container">
            <h2>Transparent Pricing</h2>
            <p>Allow farmers to set fair prices and eliminate unnecessary middlemen.</p>
          </div>
        </div><!-- End Carousel Item -->

        <div class="carousel-item">
          <img src="{% static 'Main/assets/img/hero_4.jpg' %}" alt="">
          <div class="carousel-container">
            <h2>Seamless Product Exchange</h2>
            <p>Ensure a smooth and user-friendly experience for listing, buying, and selling agricultural goods.</p>
          </div>
        </div><!-- End Carousel Item -->

        <div class="carousel-item">
          <img src="{% static 'Main/assets/img/hero_5.jpg' %}" alt="">
          <div class="carousel-container">
            <h2>Plant Disease Detection</h2>
            <p>Integrate AI-based plant disease identification to help farmers diagnose and manage crop diseases early, ensuring better yields and reduced losses.</p>
          </div>
        </div><!-- End Carousel Item -->

        <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

        <ol class="carousel-indicators"></ol>

      </div>

    </section><!-- /Hero Section -->

    
    <!-- About Section -->
    <section id="about" class="about section">

      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mb-4 mb-lg-0">
              <img src="{% static 'Main/assets/img/img_long_5.jpg' %}" alt="Image " class="img-fluid img-overlap" data-aos="zoom-out">
            </div>
            <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
              <h3 class="content-subtitle text-white opacity-50">Why Choose Us</h3>
              <h2 class="content-title mb-4">
                <strong>Years of experience</strong> in agriculture
                industry
              </h2>
              <p class="opacity-50">
                AgriSwap is a revolutionary platform designed to empower farmers by enabling seamless product exchange and direct selling. Our mission is to create a fair and efficient agricultural marketplace where farmers can swap surplus produce with each other or sell directly to consumers without middlemen.
              </p>

              <div class="row my-5">
                <div class="col-lg-12 d-flex align-items-start mb-4">
                  <i class="bi bi-cloud-rain me-4 display-6"></i>
                  <div>
                    <h4 class="m-0 h5 text-white">Direct market access empowers farmers, ensuring fair pricing and stability.</h4>
                    <p class="text-white opacity-50"></p>
                  </div>
                </div>
                <div class="col-lg-12 d-flex align-items-start mb-4">
                  <i class="bi bi-heart me-4 display-6"></i>
                  <div>
                    <h4 class="m-0 h5 text-white">Fresh, affordable produce reaches customers through direct farmer connections.</h4>
                    <p class="text-white opacity-50"></p>
                  </div>
                </div>
                <div class="col-lg-12 d-flex align-items-start">
                  <i class="bi bi-shop me-4 display-6"></i>
                  <div>
                    <h4 class="m-0 h5 text-white">AI-driven early detection helps prevent plant diseases, improving yield sustainability.</h4>
                    <p class="text-white opacity-50"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- /About Section -->


    <!-- Services 2 Section -->
    <section id="services-2" class="services-2 section dark-background">
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up" id="serv">
        <h2>Services</h2>
        <!-- <p>Necessitatibus eius consequatur</p> -->
      </div><!-- End Section Title -->

      <div class="services-carousel-wrap">
        <div class="container">
          <div class="swiper init-swiper">
            <script type="application/json" class="swiper-config">
              {
                "loop": true,
                "speed": 600,
                "autoplay": {
                  "delay": 5000
                },
                "slidesPerView": "auto",
                "pagination": {
                  "el": ".swiper-pagination",
                  "type": "bullets",
                  "clickable": true
                },
                "navigation": {
                  "nextEl": ".js-custom-next",
                  "prevEl": ".js-custom-prev"
                },
                "breakpoints": {
                  "320": {
                    "slidesPerView": 1,
                    "spaceBetween": 40
                  },
                  "1200": {
                    "slidesPerView": 3,
                    "spaceBetween": 40
                  }
                }
              }
            </script>
            <button class="navigation-prev js-custom-prev">
              <i class="bi bi-arrow-left-short"></i>
            </button>
            <button class="navigation-next js-custom-next">
              <i class="bi bi-arrow-right-short"></i>
            </button>
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="service-item">
                  <div class="service-item-contents">
                    <a href="#">
                      <span class="service-item-category">We do</span>
                      <h2 class="service-item-title">Product Swapping</h2>
                    </a>
                  </div>
                  <img src="{% static 'Main/assets/img/img_sq_1.jpg' %}" alt="Image" class="img-fluid">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="service-item">
                  <div class="service-item-contents">
                    <a href="#">
                      <span class="service-item-category">We sell</span>
                      <h2 class="service-item-title">Products</h2>
                    </a>
                  </div>
                  <img src="{% static 'Main/assets/img/img_sq_3.jpg' %}" alt="Image" class="img-fluid">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="service-item">
                  <div class="service-item-contents">
                    <a href="#">
                      <span class="service-item-category">We do</span>
                      <h2 class="service-item-title">Disease Detection</h2>
                    </a>
                  </div>
                  <img src="{% static 'Main/assets/img/img_sq_8.jpg' %}" alt="Image" class="img-fluid">
                </div>
              </div>


              <div class="swiper-slide">
                <div class="service-item">
                  <div class="service-item-contents">
                    <a href="#">
                      <span class="service-item-category">We do</span>
                      <h2 class="service-item-title">Accept Products</h2>
                    </a>
                  </div>
                  <img src="{% static 'Main/assets/img/img_sq_8.jpg' %}" alt="Image" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </section><!-- /Services 2 Section -->


    <!-- Call To Action Section -->
    <section id="call-to-action" class="call-to-action section light-background">

    </section><!-- /Call To Action Section -->

  </main>

  <footer id="footer" class="footer dark-background">

    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-4 col-md-6 footer-about">
            <a href="index.html" class="logo d-flex align-items-center">
              <span class="sitename">AgriSwap</span>
            </a>
            <div class="footer-contact pt-3">
              <p>Thodupuzha</p>
              <p>India, Kerala</p>
            </div>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Privacy policy</a></li>
            </ul>
          </div>

          

          <div class="col-lg-2 col-md-3 footer-links">

          </div>
          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><a href="#">Selling</a></li>
              <li><a href="#">Swapping</a></li>
              <li><a href="#">Product Management</a></li>
              <li><a href="#">Marketing</a></li>
              <li><a href="#">Planting</a></li>
            </ul>
          </div>



        </div>
      </div>
    </div>

    <div class="copyright text-center">
      <div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">

        <div class="d-flex flex-column align-items-center align-items-lg-start">
          <div>
            © Copyright <strong><span>Agriswap</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/herobiz-bootstrap-business-template/ -->
            <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> Distributed by <a href="https://themewagon.com">ThemeWagon</a> -->
          </div>
        </div>

        <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
          <a href=""><i class="bi bi-twitter-x"></i></a>
          <a href=""><i class="bi bi-facebook"></i></a>
          <a href=""><i class="bi bi-instagram"></i></a>
          <a href=""><i class="bi bi-linkedin"></i></a>
        </div>

      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'Main/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'Main/assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'Main/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'Main/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'Main/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'Main/assets/js/main.js' %}"></script>

</body>

</html>